body{
    background: linear-gradient(30deg,#3c1053, #ad5389, #3c1053); 
    font-family: 'Squada One', cursive;
}
h1{
    margin-top:70px;
    color:#240b36;
    font-weight: bold;
    letter-spacing:5px;
    font-size: 50px;
    text-decoration: underline;
}
.container{
    margin-top:50px;
    width:350px;
    height:420px;
    background: linear-gradient(30deg,#654ea3, #eaafc8, #654ea3); 
    border-radius: 20px;
    border:2px solid #240b36;
    box-shadow: 0 0 15px 5px #240b36;
}
table{
    margin: auto;
}
#field{
    margin-top:40px;
    width: 253px;
    height: 60px;
    background-color:#654ea3;
    color:#240b36;
    font-size:30px;
    font-weight: bold;
    font-family: 'Squada One', cursive;
    border:none; 
    border:2px solid #240b36;
    border-radius: 10px;
}
button{
    width:60px;
    height:50px;
    background-color:#654ea3;
    color:#240b36;
    font-size:30px;
    font-weight: bold;
    font-family: 'Squada One', cursive;
    border:2px solid #240b36;
    cursor: pointer;
    border-radius: 10px;
}
button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px #240b36;
    transition:1s;
}
.last{
    width:124px;
    height:50px;
    background-color:#654ea3  ;
    color:#240b36;
    font-size:30px;
    font-weight: bold;
    font-family: 'Squada One', cursive;
    border:2px solid #240b36;
    cursor: pointer;
    border-radius: 10px;
}
.last:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px 5px #240b36;
    transition:1s;
}