body{
    background-image: url("https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=715&q=80");
    background-size: cover;
    font-family: 'Squada One', cursive;
}
h1{

    color:#240b36;
    font-weight: bold;
    letter-spacing:5px;
    font-size: 50px;
    text-decoration: underline;
    margin-top: 70px;
    
  
}
.container{
    margin-top:50px;
    width:380px;
    height:450px;
    background: linear-gradient(30deg,#654ea3, #eaafc8, #654ea3); 
    border-radius: 20px;
    border:2px solid #240b36;
    box-shadow: 0 0 15px 5px #240b36;
}
table {
    margin: auto;
}
#field{
    margin-top:40px;
    width: 270px;
    height: 60px;
    background-color:#654ea3;
    color:#240b36;
    font-size:30px;
    font-weight: bold;
    font-family: 'Squada One', cursive;
    border:none; 
    border:2px solid #240b36;
    border-radius: 10px;
}
button{
    margin:3px;
    width:60px;
    height:50px;
    background-color:#654ea3;
    color:#240b36;
    font-size:30px;
    font-weight: bold;
    font-family: 'Squada One', cursive;
    border:2px solid #240b36;
    cursor: pointer;
    border-radius: 10px;
}
button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px #240b36;
    transition:1s;
}
.last{
    width:124px;
    height:50px;
    background-color:#654ea3  ;
    color:#240b36;
    font-size:30px;
    font-weight: bold;
    font-family: 'Squada One', cursive;
    border:2px solid #240b36;
    cursor: pointer;
    border-radius: 10px;
}
.last:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px 5px #240b36;
    transition:1s;
}
